body{
	font-family: Arial, sans-serif;
}
body
{
	margin: 0px;
	padding: 0px;
}
.header
{
	
	background-color: #333;
    color: #fff;
    padding: 3px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

nav li {
    display: inline;
    margin-: 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.menu li{
	float: left;
	padding: 5px;
}
.menu li a{
	text-decoration: none;
}
form{
	padding: 35px;
	text-align: right;
}
input[type"search"]
	font-size: 17px;

b{
	background-color: white;
	color: blue;
	width: 10%;
}


img{
	background-color:white;
width: 120%;
}


p{
	color: white;

}
form{
	text-align: left;
}
.sec1{
	display: center;
}
@import url('https://fonts.googleapis.com/css2? family= poppins:wght@300;600;700;800; & display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	body{
     font-family: 'poppins', sans-serif;
	}
	.navbar{
      display: flex;
      align-items: center;
      padding: 20px;
	}
	.logo img{
width: 200px;
	}
	nav{
		flex: 1;
		text-align: right;
	}
	nav ul{
		font-display:inline-block;
		list-style-type: none;
	}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
nav ul li{
	text-orientation: none;
	
	}
.contaner{
max-width: 1200PX;
margin: 20px auto;
padding-left: 25px;
padding-right: 25;
}
.row{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.sec1{
	flex-basis: 30%;
	padding: 20px;
}
.sec1 img{
	width: 100%;
	padding: 6px;

	
}

.sec1 img{
	background-color: lightyellow;

}


.sec1 h1{
	font-size: 20px;
	line-height: 40px;
	margin: 20px;
}
.sec1 a
h1{
	background-color: darkgrey;
}
.header section{
	margin: 20px;
	background: radial-gradient;
}
.sec2{
	flex-basis: 30px;
	min-width: 250px;
	margin: auto;
}
.sec2 img{
	width: 100%;
	background-color: bisque;
	padding: 8px;

}
.sec2 h2{
	text-align: center;
	flex-basis: 30px;
	color: black;
	margin: 50px;
}
.sec3{
flex-basis: 18%;
min-width: 100px;
padding: 15px;
transform: translate(4);
}
.sec3 img{
width: 100%;
background-color: cornflowerblue;
padding-left: 8px;
padding-right: 8px;
background-color: bisque;


}

.sec3 h3{
	background-color: cornsilk;
	}
	p { color:#fff ;  
		
		

	  
}


.sec3 hover{
	transform: translate(-10px);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
	padding-left: 11%;
	padding-right: 11%;
}
.footer {
    background-color: #333;

    
   
color: #fff;
    
   
padding: 80px 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    
   
padding: 0 20px;
}

.footer-content {
    
   
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    
   
flex: 1;
    margin-bottom: 20px;
    padding: 0 10px;
}

.footer-section h2 {
    
   
font-size: 1.5em;
    
   
margin-bottom: 10px;
}

.links ul {
    
    list

   
list-style: none;
    
   
padding: 0;
}

.links li {
    
   
margin-bottom: 5px;
}

.text-input, textarea {
    
   
width: 100%;
    
   
padding: 10px;
    
   
margin-bottom: 10px;
}

.btn {
    
   
background-color: #ff5722;
    
   
color: #fff;
    
   
padding: 10px
}







   


